[MASTER]
extension-pkg-allow-list=PyQt6

[MISC]
# Allow PyQt6 modules to be imported
known-third-party=PyQt6

[MESSAGES CONTROL]
disable=
    R0902,
    R0914,
    R0913,
    R0912,
    R0915,
    R0917,
    R0903,

[REPORTS]
score=yes

[FORMAT]
max-line-length=140