name: Quality Assurance

on: [push]

jobs:
  quality_assurance:
    runs-on: ubuntu-latest
    name: Quality Assurance
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install system deps
      run: |
        sudo apt-get update
        sudo apt-get install -y libegl1 libgl1 libxkbcommon-x11-0 xvfb

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -e ".[dev]"        

    - name: Running tests with pytest
      run: xvfb-run -a pytest

    - name: Analyzing the main package with pylint
      run: pylint --fail-under=9 py_fade
      
    - name: Analyzing the tests with pylint
      run: pylint --fail-under=9 tests